*
{
	margin:0px;
	padding:0px;
}
.clear
{
	height:0px;
	clear:both;
}
body
{
	text-align:center;
	background:url(../imgs/bg2.gif);
	font-size:12px;
}
.container
{
	width:960px;
	text-align:left;
	margin:0px auto;
}
.banner
{
	width:960px;
	background:url(../imgs/banner.jpg);
	height:200px;
}
.runwd
{
	margin:0px;
	padding:0px;
}
.rwd1
{
	padding:5px;
}
.footer
{
	text-align:center;
	color:#FFF;
	background:url(../imgs/ftbg.gif);
	height:50px;
}
.footer p
{
	padding-top:20px;
}
.picnew
{
	float:left;
	position:relative;
	right:3px;
	width:320px;
	height:250px;
}
.box1
{
	background:#FFF;
	margin-top:2px;
	float:left;
	width:318px;
	margin-left:2px;
	height:250px;
}
.boxleft
{
	background:#FFF;
	margin-top:2px;
	float:left;
	width:318px;
	margin-left:2px;
	height:250px;
	position:relative;
	right:3px;
}
.box2
{
	background:#FFF;
	margin-top:2px;
	float:left;
	width:448px;
	margin-left:2px;
	height:250px;
}
.box3
{
	background:#FFF;
	margin-top:2px;
	float:left;
	width:188px;
	margin-left:2px;
	height:250px;
}
.box1head
{
	background:url(../imgs/hbg.gif);
	height:26px;
	padding-top:4px;
	color:#FFF;
	padding-left:10px;
	font-size:16px;
	font-weight:bold;
}
.box1main
{
	height:224px;
	font-size:12px;
	line-height:20px;
}
.box2main
{
	height:124px;
	font-size:12px;
	line-height:20px;
}
.box3main
{
}
.mainul
{
	list-style:inside;
	list-style-type:circle;
	margin-left:15px;
	margin-top:10px;
}
.box1 li
{
	width:300px;
	overflow:hidden;
	height:20px;
}
.box2 li
{
	width:420px;
	overflow:hidden;
	height:20px;
}
.midpic
{
	width:448px;
	height:100px;
	background:url(../imgs/midpic.jpg);
}
.spdlink
{
	margin-left:50px;
	margin-top:50px;
	font-size:18px;
	width:80px;
	font-weight:bold;
	background:#0958a5;
	padding:5px;
}
.spdlinklong
{
	margin-left:50px;
	margin-top:50px;
	font-size:18px;
	width:100px;
	font-weight:bold;
	background:#0958a5;
	padding:5px;
}
.box3main a:link {
	text-decoration: none;
	color: #ccc;
}
.box3main a:visited {
	text-decoration: none;
	color: #ccc;
}
.box3main a:hover {
	text-decoration: none;
	color: #fff;
}
.box3main a:active {
	text-decoration: none;
	color: #fff;
}
a:link {
	text-decoration: none;
	color: #000;
}
a:visited {
	text-decoration: none;
	color:#06F;
}
a:hover {
	text-decoration: underline;
	color:#00C;    
}
a:active {
	text-decoration: none;
	color: #00C;
}